.searchInput {
  height: 36px;
  padding: 4px;
  margin-right: 5px;
  font-size: 18px;
  border: 1px solid #D1D2D3;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .searchInput-resultContainer {
    height: 120px;
    padding: 4px;
    font-size: 12px;
    border: 1px solid #48BBEC;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left; }
    .searchInput-resultContainer:hover {
      background-color: #E1E1E1; }
  .searchInput-resultItems {
    padding: 4px; }
  .searchInput-heading {
    font-weight: bold;
    text-align: left; }
  .searchInput-MapScreen {
    position: absolute;
    height: 500px;
    width: 100%;
    top: 200px;
    left: 0; }

@media (min-width: 768px) {
  .searchInput-resultContainer {
    font-size: 12px; } }

@media (min-width: 994px) {
  .searchInput-resultContainer {
    font-size: 13px; } }
